<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0">
    <title>Brand-o-pedia</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/style_editor-page.css">
</head>

<body>
    <header>
        <div>

            <%- include ('../pages/partials/header/header.ejs')%>
                <%- include ('../modules/searchbar.ejs')%>
                    <%- include ('../modules/buttons/headerbuttons/menubtn.ejs')%>
                        <div class="menu-wrap">
                            <div class="menu-btns-wrap">
                                <div class="menu">
                                    <%- include ('../modules/buttons/headerbuttons/helpbtn.ejs')%>
                                        <%- include ('../modules/buttons/headerbuttons/mainbtn.ejs')%>
                                            <%- include ('../modules/buttons/headerbuttons/logoutbtn.ejs')%>
                                </div>
                            </div>
                        </div>

        </div>

    </header>
    <main>

    </main>
    <script type="module" src="../js/modules/searchbar/finder.js"></script>
    <script type="module" src="../js/editor/baseeditor.js"></script>
    <script src="../js/editor/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <script type="module" src="../js/modules/buttons/buttons.js"></script>

    <link rel="stylesheet" href="/css/header.css">

</body>

</html>