<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0">
    <title>Brand-o-pedia</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/style_main-page.css">
    <link rel="stylesheet" href="/css/style_editor-page.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    
</head>

<body>
    <header>
        <%- include ('../pages/partials/header/header.ejs')%>
            <%- include ('../modules/searchbar.ejs')%>
            <%- include ('../modules/buttons/headerbuttons/menubtn.ejs')%>
                <div class="menu-wrap">
                        <div class="menu">
                            <%- include ('../modules/buttons/headerbuttons/mainbtn.ejs')%>
                                <%- include ('../modules/buttons/headerbuttons/logoutbtn.ejs')%>
                        </div>
                </div>

    </header>
    <main>

    </main>
    <!-- <div class="popup-wrap">
        <div class="popup">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque quod quasi, dicta qui architecto laudantium recusandae voluptate eaque autem rerum est voluptatum debitis officia voluptates nobis veniam natus at beatae magni, eos officiis! Libero, est. Obcaecati ducimus repellat distinctio, neque autem ab suscipit sequi fugiat. Architecto harum consectetur, deserunt omnis pariatur ea. Nemo dolorum sed, ipsa quos, explicabo asperiores minima ducimus fuga enim assumenda quam nam aliquid hic minus sequi dicta voluptates quis inventore voluptatum perferendis perspiciatis eveniet doloremque culpa? Facere sit error impedit, fugit accusamus iure! Fugiat cumque, similique quod necessitatibus voluptatum corporis quaerat! Ratione sequi veritatis et nam.</div>
    </div> -->
    <script type="module" src="../js/modules/searchbar/finder.js"></script>
    <script type="module" src="../js/editor/baseeditor.js"></script>
    <script src="../js/editor/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <!-- <script type="module" src="../js/editor/tinymce_add.js"></script> -->
    <script type="module" src="../js/modules/buttons/buttons.js"></script>


</body>

</html>